[submodule "external_components/googletest"]
	path = external_components/googletest
	url = https://github.com/google/googletest.git
[submodule "external_components/esp-idf"]
	path = external_components/esp-idf
	url = https://github.com/espressif/esp-idf.git
